@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(339deg, rgba(158,146,156,1) 0%, rgba(0,0,0,1) 67%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; 
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0; 
}

.slide.active {
  flex: 10;

}

.slide.active h3,
.slide.active p {
  opacity: 1; 
  transition: opacity 0.3s ease-in 0.4s;
}

.slide p{
  max-width: 100px;
  position: absolute;
  font-weight: bold;
  font-size: large;
  bottom: 50%;
  left: 20px;
  opacity: 0;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}